body{
    background: #000;
}
h1{
    color: red;
    font-size: 48px;
    text-align: center;
}
div.hoho{
    background: yellow;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
div.Naughty{
    background: #f00;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    /* text-decoration: underline; */
}
div.HEHE{
    background: #0f0;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    /* text-decoration: underline; */
}